<div class="d-flex flex-column" align='center'>
    <div class="card" id="tarjeta">
        <div class="card-body">
            <p-fieldset legend="Consultar Empleados" >
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12" align="center">
                        <p-table [value]="empleado" id="tbEmpleados" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr align="center">
                                    <th [style.width]="'95px'">Empleado</th>
                                    <th [style.width]="'100px'">Nombre</th>
                                    <th [style.width]="'90px'">Ape. Paterno</th>
                                    <th [style.width]="'90px'">Ape. Materno</th>
                                    <th [style.width]="'200px'">Correo</th>
                                    <th [style.width]="'150px'">Tipo Empleado</th>
                                    <th [style.width]="'150px'">Rol</th>
                                    <th [style.width]="'70px'">Activo</th>
                                    <th [style.width]="'60px'"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr align="center">
                                    <td pEditableColumn style="width:150px;height:50px">
                                        {{rowData.num_empleado}}
                                    </td>
                                    <td pEditableColumn style="width:150px;height:50px">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text"
                                                    [(ngModel)]="rowData.nom_empleado" >
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.nom_empleado}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.ape_paterno"
                                                    >
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.ape_paterno}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.ape_materno"
                                                    >
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.ape_materno}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.nom_correo"
                                                    >
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.nom_correo}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <select class="form-control switch-size-1" id="vTipo" #vTipo
                                            value={{rowData.tipo_empleado}}>
                                            <option value="1">Interno
                                            </option>
                                            <option value="2">Externo
                                            </option>
                                        </select>
                                    </td>
                                    <td pEditableColumn>
                                        <select class="form-control switch-size-1" id="vRoll" #vRoll
                                            value={{rowData.id_roll}}>
                                            <option value="1">Chofer
                                            </option>
                                            <option value="2">Cargador
                                            </option>
                                            <option value="3">Auxiliar
                                            </option>
                                        </select>
                                    </td>
                                    <td pEditableColumn>
                                        <p-inputSwitch [(ngModel)]="rowData.flag_activo"></p-inputSwitch>
                                    </td>
                                    <td align="center">
                                        <button pButton type="button" icon="pi pi-check" class="ui-button-primary"
                                            (click)="seleccionarInsertar(rowData,vTipo.value,vRoll.value)"
                                            (click)="actualizarEmpleado()" [disabled]="btnadmin"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>