.form-control {
    border-radius: 7px;
    font-size: 14px !important;
  }

  .btn {
    height: 45px;
    width: 120px;
    border-radius: 8px;
    margin: 1px;
  }

  .btn2 {
    height: 50px;
    width: 300px;
    border-radius: 8px;
    margin: 1px;
    font-size: 20px !important;
  }