<div align='center'>
  <h2>Consultar Nómina</h2>
</div>
<div class="d-flex flex-column" align='center'>
  <div class="card" id="tarjeta">
    <div class="card-body">
      <div class="form-group">
        <p-table [value]="nominas" id="nominas">
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-file" id="btnPdf" iconPos="left" label="Descargar PDF"
                (click)="generarpdf()" style="float:right"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr align="center">
              <th [style.width]="'95px'">Empleado</th>
              <th [style.width]="'250px'">Nombre</th>
              <th [style.width]="'75px'">Sueldo</th>
              <th [style.width]="'70px'">Bonos</th>
              <th [style.width]="'100px'">Despensa</th>
              <th [style.width]="'95px'">ISR</th>
              <th [style.width]="'100px'">Sueldo Neto</th>
              <th [style.width]="'100px'">Sueldo a Pagar</th>
              <th [style.width]="'95px'">Fecha</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td align="center">
                {{rowData.num_empleado}}
              </td>
              <td align="center">
                {{rowData.nombre}}
              </td>
              <td align="center">
                {{rowData.num_sueldo}}
              </td>
              <td align="center">
                {{rowData.num_bonos}}
              </td>
              <td align="center">
                {{rowData.num_despensa}}
              </td>
              <td align="center">
                {{rowData.num_isr}}
              </td>
              <td align="center">
                <div>
                  {{rowData.num_sueldoNeto}}
                </div>
              </td>
              <td align="center">
                <div>
                  {{rowData.num_sueldoPagar}}
                </div>
              </td>
              <td align="center">
                {{rowData.fecha}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
