<div class="d-flex flex-column" align='center'>
    <div class="card" id="tarjeta">

        <div class="card-body">
            <p-fieldset legend="Generar Nómina">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Fecha:</b>
                        </label>
                        <p-calendar #vFecha id="vFecha" view="month" dateFormat="mm/yy" [showIcon]="true"
                            [maxDate]="maxDateValue" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="2000:3000" [readonlyInput]="true" [(ngModel)]="fechaCalendario" [locale]="es">
                        </p-calendar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="center">
                        <button type="button" name="" id="btnGrabar" (click)="Generarnomina(vFecha.value)"
                            class="btn btn-primary btn-lg">Iniciar</button>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>
