<table border="0">
    <thead>
        <tr bgcolor="#acb4bc" style="text-align: center; color: black; font-weight: bold; font-size: 8px;">
            <th style="width: 7%">Empleado</th>
            <th style="width: 20%">Nombre</th>
            <th style="width: 8%">Tipo Empleado</th>
             <th style="width: 7%">Rol</th>
            <th style="width: 7%">Sueldo</th>
            <th style="width: 7%">Bonos</th>
            <th style="width: 10%">Despensa</th>
            <th style="width: 10%">ISR</th>
            <th style="width: 8%">Sueldo Neto</th>
            <th style="width: 8%">Total a Pagar</th>
             <th style="width: 8%">Fecha</th>
        </tr>
    </thead>
    <tbody>
        |LISTADO|
    </tbody>
</table>
