<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler *ngIf="menuExist">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler *ngIf="menuExist">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right" *ngIf="notifications.length > 0">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Notificaciones</strong></div>
        <ng-container *ngFor="let notification of notifications">
          <a class="dropdown-item" [routerLink]="[notification.url]"><i class="fa" [ngClass]="notification.icon"></i>
            {{notification.descripcion}}</a>
        </ng-container>
      </div>
    </li>
    <li class="nav-item d-md-down-none" *ngIf="messages.length > 0">
      <a class="nav-link" href="#" appAsideMenuToggler><i class="icon-envelope-letter"></i><span class="badge badge-pill badge-danger">{{messages.length}}</span></a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img [src]="" class="img-avatar" alt="" onError="this.src='assets/img/avatars/avatar.png'" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="" (click)="logOut(); false;"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</header>