<div class="d-flex flex-column" align='center'>
    <div class="card" id="tarjeta">
        <div class="card-body">
            <p-fieldset legend="Capturar Entregas">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Número Empelado:</b>
                        </label>
                        <p-autoComplete [(ngModel)]="numEmpleado" id="vEmpleado" #vEmpleado [suggestions]="filtered"
                            (completeMethod)="filter($event)" [size]="30" autofocus
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;"
                            (keyup)="consultarEmpleado()" maxlength="8" (click)="consultarEmpleado()" [minLength]="1">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-12 ui-md-4" align="left">
                        <label for="Tipo">
                            <b>Nombre:</b>
                        </label>
                        <input type="text" id="vNombre" #vNombre [(ngModel)]="nombre" class="form-control"
                            autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Rol:</b>
                        </label>
                        <input type="text" id="vApellidoP" #vApellidoP [(ngModel)]="rol" class="form-control"
                            autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Tipo Empleado:</b>
                        </label>
                        <input type="text" id="vApellidoM" #vApellidoM [(ngModel)]="tipo" class="form-control"
                            autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Fecha:</b>
                        </label>
                        <p-calendar #vFecha id="vFecha" dateFormat="yy/mm/dd" [showIcon]="true" [maxDate]="maxDateValue"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:3000" [readonlyInput]="true"
                            [(ngModel)]="fechaCalendario" [locale]="es"></p-calendar>
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Cantidad Entregas:</b>
                        </label>
                        <br>
                        <input type="text" pInputText [(ngModel)]="entregas" style="width:18em" />
                        <p-slider [(ngModel)]="entregas" [style]="{'width':'18em'}"></p-slider>
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left"></div>
                    <div class="ui-g-12 ui-md-1" align="left">
                        <label for="Tipo">
                            <b>Cubrió Turno:</b>
                        </label>
                        <br>
                        <p-inputSwitch [(ngModel)]="flagCubrio" (click)="validarCubrio()" [disabled]="iSwitch">
                        </p-inputSwitch>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="Cubrió Turno" [collapsed]="contraerTurno">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Número Empelado:</b>
                        </label>
                        <p-autoComplete [(ngModel)]="numEmpleadoCubrio" id="vEmpleadoCubrio" #vEmpleadoCubrio
                            [suggestions]="filteredCubrePuesto" (completeMethod)="filterCubrioPuesto($event)"
                            [size]="30"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;"
                            (keyup)="consultarEmpleadoCubrio()" maxlength="8" (click)="consultarEmpleadoCubrio()"
                            [minLength]="1">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-12 ui-md-4" align="left">
                        <label for="Tipo">
                            <b>Nombre:</b>
                        </label>
                        <input type="text" id="vNombreCubrio" #vNombreCubrio [(ngModel)]="nombreCubrio"
                            class="form-control" autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Rol:</b>
                        </label>
                        <input type="text" id="vRolCubrio" #vRolCubrio [(ngModel)]="rolCubrio" class="form-control"
                            autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Tipo Empleado:</b>
                        </label>
                        <input type="text" id="vTipoCubrio" #vTipoCubrio [(ngModel)]="tipoCubrio" class="form-control"
                            autocomplete="off" maxlength="30" [disabled]="true">
                    </div>
                </div>
            </p-fieldset>
            <div class="row">
                <div class="col-sm-12" align="right">
                    <button type="button" name="" id="btnGrabar" (click)="guardarEntregas(vFecha.value)"
                        class="btn btn-primary btn-lg" [disabled]="btnDisaGuardar">Guardar</button>
                    <button type="button" name="" id="btnLimpiar" (click)="limpiar()"
                        class="btn btn-primary btn-lg">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
</div>
