<div class="d-flex flex-column" align='center'>
  <div class="card" id="tarjeta">
    <div class="card-body">
      <p-fieldset legend="Consultar Entregas">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-2" align="left">
            <label for="Tipo">
              <b>Número Empelado:</b>
            </label>
            <p-autoComplete [(ngModel)]="numEmpleado" id="vEmpleado" #vEmpleado [suggestions]="filtered"
              (completeMethod)="filter($event)" [size]="30" autofocus (keyup)="consultarEmpleado()"
              (click)="consultarEmpleado()"
              onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;" maxlength="8"
              [minLength]="1">
            </p-autoComplete>
          </div>
          <div class="ui-g-12 ui-md-3" align="left">
            <label for="Tipo">
              <b>Fecha:</b>
            </label>
            <p-calendar #vFecha id="vFecha" view="month" dateFormat="mm/yy" [showIcon]="true" [maxDate]="maxDateValue"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:3000" [readonlyInput]="true"
              [(ngModel)]="fechaCalendario" [locale]="es"></p-calendar>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" align="right">
            <button type="button" name="" id="btnGrabar" (click)="consultarRegistros(vFecha.value)"
              class="btn btn-primary btn-lg" [disabled]="btnDisaConsultar">Consultar</button>

            <button type="button" name="" id="btnLimpiar" (click)="limpiar()"
              class="btn btn-primary btn-lg">Limpiar</button>
          </div>
        </div>
        <br>
        <p-table [value]="entregas" id="entregasCubierto">
          <ng-template pTemplate="header">
            <tr align="center">
              <th [style.width]="'95px'">Número Empleado</th>
              <th [style.width]="'150px'">Nombre</th>
              <th [style.width]="'80px'">Entregas</th>
              <th [style.width]="'70px'">Horas</th>
              <th [style.width]="'95px'">Número Cubrió</th>
              <th [style.width]="'150px'">Nombre Cubrió</th>
              <th [style.width]="'70px'">Id Bono</th>
              <th [style.width]="'95px'">Fecha</th>
              <th [style.width]="'75px'">Eliminar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td align="center">
                {{rowData.num_empleado}}
              </td>
              <td align="center">
                {{rowData.nom_empleado}}
              </td>
              <td align="center">
                {{rowData.num_entregas}}
              </td>
              <td align="center">
                {{rowData.num_horas}}
              </td>
              <td align="center">
                {{rowData.num_empleadocubrio}}
              </td>
              <td align="center">
                {{rowData.nom_empleadocubrio}}
              </td>
              <td align="center">
                <div>
                  {{rowData.id_bono}}
                </div>
              </td>
              <td align="center">
                <div>
                  {{rowData.fec_movimiento}}
                </div>
              </td>
              <td align="center">
                <button pButton type="button" icon="pi pi-times" class="ui-button-danger"
                  (click)="seleccionarInsertar(rowData)" (mouseleave)="volverConsultar(vFecha.value)"
                  (mouseup)="volverConsultar(vFecha.value)" (click)="eliminarEntrega(vFecha.value)"
                  [disabled]="btnadmin"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-fieldset>
    </div>
  </div>
</div>
