<div class="d-flex flex-column" align='center'>
    <div class="card" id="tarjeta">

        <div class="card-body">
            <p-fieldset legend="Alta Empleados">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Número Empelado:</b>
                        </label>
                        <input type="text" id="vEmpleado" #vEmpleado [(ngModel)]="numEmpleado" class="form-control"
                            autocomplete="off" maxlength="8"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;"
                            [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Nombre:</b>
                        </label>
                        <input type="text" id="vNombre" #vNombre [(ngModel)]="nombre" class="form-control"
                            autocomplete="off" maxlength="30" autofocus
                            onKeypress="if (event.keyCode < 32 || event.keyCode> 122) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Apellido Paterno:</b>
                        </label>
                        <input type="text" id="vApellidoP" #vApellidoP [(ngModel)]="apellidoP" class="form-control"
                            autocomplete="off" maxlength="30"
                            onKeypress="if (event.keyCode < 32 || event.keyCode> 122) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Apellido Materno:</b>
                        </label>
                        <input type="text" id="vApellidoM" #vApellidoM [(ngModel)]="apellidoM" class="form-control"
                            autocomplete="off" maxlength="30"
                            onKeypress="if (event.keyCode < 32 || event.keyCode> 122) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Correo:</b>
                        </label>
                        <input type="text" id="vCorreo" #vCorreo [(ngModel)]="correo" class="form-control"
                            autocomplete="off" maxlength="50"
                            onKeypress="if (event.keyCode < 32 || event.keyCode> 122) event.returnValue = false;">
                    </div>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Rol:</b>
                        </label>
                        <div class="ui-g-12">
                            <p-radioButton name="group1" value="1" label="Chofer" [(ngModel)]="roll" inputId="opt1">
                            </p-radioButton>
                        </div>
                        <div class="ui-g-12">
                            <p-radioButton name="group1" value="2" label="Cargador" [(ngModel)]="roll" inputId="opt2">
                            </p-radioButton>
                        </div>
                        <div class="ui-g-12">
                            <p-radioButton name="group1" value="3" label="Auxiliar" [(ngModel)]="roll" inputId="opt3">
                            </p-radioButton>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Tipo Empleado:</b>
                        </label>
                        <div class="ui-g-12">
                            <p-radioButton name="group2" value="1" label="Interno" [(ngModel)]="tipo" inputId="opt4">
                            </p-radioButton>
                        </div>
                        <div class="ui-g-12">
                            <p-radioButton name="group2" value="2" label="Externo" [(ngModel)]="tipo" inputId="opt5">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="right">
                        <button type="button" name="" id="btnGrabar"
                            (click)="agregarEmpleado(vEmpleado.value,vNombre.value,vApellidoP.value,vApellidoM.value,vCorreo.value)"
                            class="btn btn-primary btn-lg"
                            [disabled]="(vNombre.value.trim().length == 0 || vApellidoP.value.trim().length == 0 || vCorreo.value.trim().length == 0)">Guardar</button>
                        <button type="button" name="" id="btnLimpiar" (click)="limpiar()" class="btn btn-primary btn-lg"
                            [disabled]=" ">Limpiar</button>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>
