<div class="d-flex flex-column" align='center'>
    <div class="card" id="tarjeta">
        <div class="card-body">
            <p-fieldset legend="Sueldos">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Puesto:</b>
                        </label>
                        <select class="form-control switch-size-1" id="vRoles" #vRoles
                            (change)="consutarRoles(vRoles.value)" (change)="validarFormulario(vRoles.value)">
                            <option *ngFor="let item of roles;" value={{item.id_roll}}>{{item.roll}}
                            </option>
                        </select>
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Sueldo por Hora:</b>
                        </label>
                        <input type="text" id="vSueldo" #vSueldo [(ngModel)]="sueldo" class="form-control"
                            autocomplete="off" maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Horas Jornada:</b>
                        </label>
                        <input type="text" id="vhoras" #vhoras [(ngModel)]="horas" class="form-control"
                            autocomplete="off" maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Porcentaje Despensa:</b>
                        </label>
                        <input type="text" id="vPorcentaje" #vPorcentaje [(ngModel)]="porcentajeDespenza"
                            class="form-control" autocomplete="off" maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="right">
                        <button type="button" name="" id="btnGrabar" (click)="ActualizarSueldos(vRoles.value)"
                            class="btn btn-primary btn-lg" [disabled]=" ">Actualizar</button>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="Bonos">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Tipo de Bono:</b>
                        </label>
                        <select class="form-control switch-size-1" id="vBonos" #vBonos
                            (change)="consutarBonos(vBonos.value)">
                            <option *ngFor="let item of bonos;" value={{item.id_bono}}>{{item.des_bono}}
                            </option>
                        </select>
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Rol:</b>
                        </label>
                        <input type="text" id="vRoll" #vRoll [(ngModel)]="roll" class="form-control" autocomplete="off"
                            maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;"
                            [disabled]="true">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Bono:</b>
                        </label>
                        <input type="text" id="vBono" #vBono [(ngModel)]="bono" class="form-control" autocomplete="off"
                            maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="right">
                        <button type="button" name="" id="btnGrabarBono" (click)="ActualizarBonos(vBonos.value)"
                            class="btn btn-primary btn-lg" [disabled]=" ">Actualizar</button>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="ISR">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-3" align="left">
                        <label for="Tipo">
                            <b>Tipo de ISR:</b>
                        </label>
                        <select class="form-control switch-size-1" id="vValidar" #vValidar
                            (change)="consutarIsr(vValidar.value)">
                            <option value="1">Menor Igual que <= </option> <option value="2">Mayor que >
                            </option>
                        </select>
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Cantidad a Validar:</b>
                        </label>
                        <input type="text" id="vValor" #vValor [(ngModel)]="valor" class="form-control"
                            autocomplete="off" maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                    <div class="ui-g-12 ui-md-2" align="left">
                        <label for="Tipo">
                            <b>Porcentaje ISR:</b>
                        </label>
                        <input type="text" id="vIsr" #vIsr [(ngModel)]="isr" class="form-control" autocomplete="off"
                            maxlength="10"
                            onKeypress="if (event.keyCode < 48 || event.keyCode> 57) event.returnValue = false;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" align="right">
                        <button type="button" name="" id="btnGrabarIsr" (click)="ActualizarIsr(vValidar.value)"
                            class="btn btn-primary btn-lg" [disabled]=" ">Actualizar</button>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>
